/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.home {
	text-align: center;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 966px) {}
